In [12]:
# my usual imports and setups
import pylab as pl
import pandas as pd
import numpy as np

################################################
#This didn't work for me:
#imports downloader
#from getCitiBikeCSV import getCitiBikeCSV

%pylab inline

import os

##################################################################
#this makes my plots pretty! but it is totally not mandatory to do it
#import json
#s = json.load( open(os.getenv ('PUI2017')+"/fbb_matplotlibrc.json") )
#pl.rcParams.update(s)

##############
#import to run KS Test
import scipy.stats

Populating the interactive namespace from numpy and matplotlib

In [13]:
#verifying my PUIdata environmental variable checks out
os.getenv('PUIDATA')

'/home/cusp/dhi211/PUIdata'

In [14]:
!ls /gws/open/Student/citibike

201307-citibike-tripdata.zip  201508-citibike-tripdata.zip
201308-citibike-tripdata.zip  201509-citibike-tripdata.zip
201309-citibike-tripdata.zip  201510-citibike-tripdata.zip
201310-citibike-tripdata.zip  201511-citibike-tripdata.zip
201311-citibike-tripdata.zip  201512-citibike-tripdata.zip
201312-citibike-tripdata.zip  201601-citibike-tripdata.zip
201401-citibike-tripdata.zip  201602-citibike-tripdata.zip
201402-citibike-tripdata.zip  201603-citibike-tripdata.zip
201403-citibike-tripdata.zip  201604-citibike-tripdata.zip
201404-citibike-tripdata.zip  201605-citibike-tripdata.zip
201405-citibike-tripdata.zip  201606-citibike-tripdata.zip
201406-citibike-tripdata.zip  201607-citibike-tripdata.zip
201407-citibike-tripdata.zip  201608-citibike-tripdata.zip
201408-citibike-tripdata.zip  201609-citibike-tripdata.zip
201409-citibike-tripdata.zip  201610-citibike-tripdata.zip
201410-citibike-tripdata.zip  201611-citibike-tripdata.zip
201411-citibike-tripdata.zip  201612-citibike-tripdata.zip
201412-citibike-tripdata.zip  201701-citibike-tripdata.csv.zip
201501-citibike-tripdata.zip  201702-citibike-tripdata.csv.zip
201502-citibike-tripdata.zip  201703-citibike-tripdata.csv.zip
201503-citibike-tripdata.zip  201704-citibike-tripdata.csv.zip
201504-citibike-tripdata.zip  201705-citibike-tripdata.csv.zip
201505-citibike-tripdata.zip  201706-citibike-tripdata.csv.zip
201506-citibike-tripdata.zip  201707-citibike-tripdata.csv.zip
201507-citibike-tripdata.zip

In [8]:
############################################################################
#Importing first month of dataset: July, 2017
#This will be called 'df1'

In [23]:
datestring = '201506'

In [26]:
df1 = pd.read_csv('/gws/open/Student/citibike/' + datestring + '-citibike-tripdata.zip', compression='zip')
df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1338,6/1/2015 0:00,6/1/2015 0:22,128,MacDougal St & Prince St,40.727103,-74.002971,2021,W 45 St & 8 Ave,40.759291,-73.988597,20721,Subscriber,1984.0,1
1,290,6/1/2015 0:00,6/1/2015 0:05,438,St Marks Pl & 1 Ave,40.727791,-73.985649,312,Allen St & E Houston St,40.722055,-73.989111,21606,Subscriber,1997.0,1
2,634,6/1/2015 0:01,6/1/2015 0:11,383,Greenwich Ave & Charles St,40.735238,-74.000271,388,W 26 St & 10 Ave,40.749718,-74.002950,16595,Subscriber,1993.0,1
3,159,6/1/2015 0:01,6/1/2015 0:04,361,Allen St & Hester St,40.716059,-73.991908,531,Forsyth St & Broome St,40.718939,-73.992663,16949,Subscriber,1981.0,1
4,1233,6/1/2015 0:02,6/1/2015 0:22,382,University Pl & E 14 St,40.734927,-73.992005,532,S 5 Pl & S 4 St,40.710451,-73.960876,17028,Customer,NaN,0

In [27]:
#######################################################

In [28]:
datestring_secondset = '201601'

In [29]:
df2 = pd.read_csv('/gws/open/Student/citibike/' + datestring_secondset + '-citibike-tripdata.zip', compression='zip')
df2.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,923,1/1/2016 00:00:41,1/1/2016 00:16:04,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22285,Subscriber,1958.0,1
1,379,1/1/2016 00:00:45,1/1/2016 00:07:04,476,E 31 St & 3 Ave,40.743943,-73.979661,498,Broadway & W 32 St,40.748549,-73.988084,17827,Subscriber,1969.0,1
2,589,1/1/2016 00:00:48,1/1/2016 00:10:37,489,10 Ave & W 28 St,40.750664,-74.001768,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,21997,Subscriber,1982.0,2
3,889,1/1/2016 00:01:06,1/1/2016 00:15:56,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22794,Subscriber,1961.0,2
4,1480,1/1/2016 00:01:12,1/1/2016 00:25:52,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,14562,Subscriber,1952.0,1

In [30]:
#########################################
#CONCATENATION!
df = pd.concat([df1, df2], axis=0)
len(df)

1450697

In [31]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1338,6/1/2015 0:00,6/1/2015 0:22,128,MacDougal St & Prince St,40.727103,-74.002971,2021,W 45 St & 8 Ave,40.759291,-73.988597,20721,Subscriber,1984.0,1
1,290,6/1/2015 0:00,6/1/2015 0:05,438,St Marks Pl & 1 Ave,40.727791,-73.985649,312,Allen St & E Houston St,40.722055,-73.989111,21606,Subscriber,1997.0,1
2,634,6/1/2015 0:01,6/1/2015 0:11,383,Greenwich Ave & Charles St,40.735238,-74.000271,388,W 26 St & 10 Ave,40.749718,-74.002950,16595,Subscriber,1993.0,1
3,159,6/1/2015 0:01,6/1/2015 0:04,361,Allen St & Hester St,40.716059,-73.991908,531,Forsyth St & Broome St,40.718939,-73.992663,16949,Subscriber,1981.0,1
4,1233,6/1/2015 0:02,6/1/2015 0:22,382,University Pl & E 14 St,40.734927,-73.992005,532,S 5 Pl & S 4 St,40.710451,-73.960876,17028,Customer,NaN,0

In [32]:
df.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
509473,1275,1/31/2016 23:58:20,2/1/2016 00:19:36,3135,E 75 St & 3 Ave,40.771129,-73.957723,168,W 18 St & 6 Ave,40.739713,-73.994564,17640,Subscriber,1982.0,1
509474,1576,1/31/2016 23:58:39,2/1/2016 00:24:55,268,Howard St & Centre St,40.719105,-73.999733,3113,Greenpoint Ave & Manhattan Ave,40.730260,-73.953940,23324,Subscriber,1978.0,1
509475,356,1/31/2016 23:58:54,2/1/2016 00:04:51,441,E 52 St & 2 Ave,40.756014,-73.967416,501,FDR Drive & E 35 St,40.744219,-73.971212,24203,Subscriber,1990.0,1
509476,1128,1/31/2016 23:59:13,2/1/2016 00:18:02,475,E 16 St & Irving Pl,40.735243,-73.987586,264,Maiden Ln & Pearl St,40.707065,-74.007319,24272,Subscriber,1990.0,1
509477,851,1/31/2016 23:59:26,2/1/2016 00:13:38,377,6 Ave & Canal St,40.722438,-74.005664,509,9 Ave & W 22 St,40.745497,-74.001971,22211,Subscriber,1988.0,1

In [33]:
################################################################
#manipulating columns to prepare for distribution analysis
#dataframe titled 'df' has both January (df2) and July (df1) 2017 concatenated together

In [34]:
df['date'] = pd.to_datetime(df['starttime'])
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date
0,1338,6/1/2015 0:00,6/1/2015 0:22,128,MacDougal St & Prince St,40.727103,-74.002971,2021,W 45 St & 8 Ave,40.759291,-73.988597,20721,Subscriber,1984.0,1,2015-06-01 00:00:00
1,290,6/1/2015 0:00,6/1/2015 0:05,438,St Marks Pl & 1 Ave,40.727791,-73.985649,312,Allen St & E Houston St,40.722055,-73.989111,21606,Subscriber,1997.0,1,2015-06-01 00:00:00
2,634,6/1/2015 0:01,6/1/2015 0:11,383,Greenwich Ave & Charles St,40.735238,-74.000271,388,W 26 St & 10 Ave,40.749718,-74.002950,16595,Subscriber,1993.0,1,2015-06-01 00:01:00
3,159,6/1/2015 0:01,6/1/2015 0:04,361,Allen St & Hester St,40.716059,-73.991908,531,Forsyth St & Broome St,40.718939,-73.992663,16949,Subscriber,1981.0,1,2015-06-01 00:01:00
4,1233,6/1/2015 0:02,6/1/2015 0:22,382,University Pl & E 14 St,40.734927,-73.992005,532,S 5 Pl & S 4 St,40.710451,-73.960876,17028,Customer,NaN,0,2015-06-01 00:02:00

In [37]:
df.columns

Index([u'tripduration', u'starttime', u'stoptime', u'start station id',
       u'start station name', u'start station latitude',
       u'start station longitude', u'end station id', u'end station name',
       u'end station latitude', u'end station longitude', u'bikeid',
       u'usertype', u'birth year', u'gender', u'date', u'starthour'],
      dtype='object')

In [38]:
df['starthour'] = df['date'].dt.hour
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date,starthour
0,1338,6/1/2015 0:00,6/1/2015 0:22,128,MacDougal St & Prince St,40.727103,-74.002971,2021,W 45 St & 8 Ave,40.759291,-73.988597,20721,Subscriber,1984.0,1,2015-06-01 00:00:00,0
1,290,6/1/2015 0:00,6/1/2015 0:05,438,St Marks Pl & 1 Ave,40.727791,-73.985649,312,Allen St & E Houston St,40.722055,-73.989111,21606,Subscriber,1997.0,1,2015-06-01 00:00:00,0
2,634,6/1/2015 0:01,6/1/2015 0:11,383,Greenwich Ave & Charles St,40.735238,-74.000271,388,W 26 St & 10 Ave,40.749718,-74.002950,16595,Subscriber,1993.0,1,2015-06-01 00:01:00,0
3,159,6/1/2015 0:01,6/1/2015 0:04,361,Allen St & Hester St,40.716059,-73.991908,531,Forsyth St & Broome St,40.718939,-73.992663,16949,Subscriber,1981.0,1,2015-06-01 00:01:00,0
4,1233,6/1/2015 0:02,6/1/2015 0:22,382,University Pl & E 14 St,40.734927,-73.992005,532,S 5 Pl & S 4 St,40.710451,-73.960876,17028,Customer,NaN,0,2015-06-01 00:02:00,0

In [39]:
#Splitting by category: DAY VS. NIGHT
df['day_night'] = np.where((df['starthour'] > 6)&(df['starthour'] < 20), 'day', 'night')

df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date,starthour,day_night
0,1338,6/1/2015 0:00,6/1/2015 0:22,128,MacDougal St & Prince St,40.727103,-74.002971,2021,W 45 St & 8 Ave,40.759291,-73.988597,20721,Subscriber,1984.0,1,2015-06-01 00:00:00,0,night
1,290,6/1/2015 0:00,6/1/2015 0:05,438,St Marks Pl & 1 Ave,40.727791,-73.985649,312,Allen St & E Houston St,40.722055,-73.989111,21606,Subscriber,1997.0,1,2015-06-01 00:00:00,0,night
2,634,6/1/2015 0:01,6/1/2015 0:11,383,Greenwich Ave & Charles St,40.735238,-74.000271,388,W 26 St & 10 Ave,40.749718,-74.002950,16595,Subscriber,1993.0,1,2015-06-01 00:01:00,0,night
3,159,6/1/2015 0:01,6/1/2015 0:04,361,Allen St & Hester St,40.716059,-73.991908,531,Forsyth St & Broome St,40.718939,-73.992663,16949,Subscriber,1981.0,1,2015-06-01 00:01:00,0,night
4,1233,6/1/2015 0:02,6/1/2015 0:22,382,University Pl & E 14 St,40.734927,-73.992005,532,S 5 Pl & S 4 St,40.710451,-73.960876,17028,Customer,NaN,0,2015-06-01 00:02:00,0,night

In [40]:
df.columns

Index([u'tripduration', u'starttime', u'stoptime', u'start station id',
       u'start station name', u'start station latitude',
       u'start station longitude', u'end station id', u'end station name',
       u'end station latitude', u'end station longitude', u'bikeid',
       u'usertype', u'birth year', u'gender', u'date', u'starthour',
       u'day_night'],
      dtype='object')

In [41]:
df.drop([u'starttime', u'stoptime', u'start station id',
       u'start station name', u'start station latitude',
       u'start station longitude', u'end station id', u'end station name',
       u'end station latitude', u'end station longitude', u'bikeid',
       u'usertype', u'birth year', u'gender'],axis=1, inplace=True)

In [42]:
df.columns

Index([u'tripduration', u'date', u'starthour', u'day_night'], dtype='object')

In [43]:
df.head()

   tripduration                date  starthour day_night
0          1338 2015-06-01 00:00:00          0     night
1           290 2015-06-01 00:00:00          0     night
2           634 2015-06-01 00:01:00          0     night
3           159 2015-06-01 00:01:00          0     night
4          1233 2015-06-01 00:02:00          0     night

In [44]:
#creating separate dataframes for day and night
dfDur_day = df[df.day_night == 'day']
dfDur_night = df[df.day_night == 'night']
dfDur_day.head()

     tripduration                date  starthour day_night
812           275 2015-06-01 07:00:00          7       day
813           383 2015-06-01 07:00:00          7       day
814           881 2015-06-01 07:00:00          7       day
815           142 2015-06-01 07:00:00          7       day
816           442 2015-06-01 07:00:00          7       day

In [179]:
#########################################################################

# KS Test Comparing Day and Night Durations
This section will begin running the KS test to show different distributions for day and night trip durations.

In [183]:
#converting day/night dataframes into arrays for KS analysis
valDay = dfDur_day['tripduration'].values
valNight = dfDur_night['tripduration'].values

## Hypothesis:
The trip durations during the day and the trip durations during the night are from the same distribution.

## Null Hypothesis ($H_0$) 
The trip durations during the day and the trip durations during the night are NOT from the same distribution.

$\alpha$ = 0.05

In [184]:
scipy.stats.ks_2samp(valDay, valNight)

Ks_2sampResult(statistic=0.034825785837608786, pvalue=0.0)

## RESULTS:
Results from the above analysis show that the p Value is exteremely low. Therefore we can rule out a null hypothesis if we assumed alpha value of 0.05.

In plain English, I would state that there is not an extreme difference in the distributions of trip durations between day trips and night time trips on citibikes throughout the month of July, 2017. This is suppored by the fact that the distance between the two plots using the KS Test are close in value, and the p Value is low.

# KS Test/200 Comparing Day and Night Durations on a Smaller Scale
This section will begin running the KS test to show different distributions for day and night trip durations as above, except it will use a smaller data set by a function of 200 times.

## Hypothesis:
The trip durations during the day and the trip durations during the night are from the same distribution.

## Null Hypothesis ($H_0$) 
The trip durations during the day and the trip durations during the night are NOT from the same distribution.

$\alpha$ = 0.05

In [185]:
#reducing df for day and night by a factor of 200
small_valDay = (len(valDay)/200)
small_valNight = (len(valNight)/200)

small_valDay = dfDur_day.sample(small_valDay, random_state = 4)
small_valNight = dfDur_night.sample(small_valNight, random_state = 4)

In [186]:
small_sample_valDay = small_valDay['tripduration'].values
small_sample_valNight = small_valNight['tripduration'].values

In [188]:
scipy.stats.ks_2samp(small_sample_valDay, small_sample_valNight)

Ks_2sampResult(statistic=0.0493854499024464, pvalue=6.8962573438892638e-06)

# RESULTS:
Results from the above analysis show that the p Value is exteremely low. Therefore we can rule out a null hypothesis if we assumed alpha value of 0.05.

In plain English, I would state that there is not an extreme difference in the distributions of trip durations between day trips and night time trips on citibikes throughout the month of July, 2017. This is suppored by the fact that the distance between the two plots using the KS Test are close in value, and the p Value is low.

In [206]:
#########################################################################

In [330]:
#taking 1/200th samples as numpy arrays to get data the same size

#using random seed
np.random.seed(999)

#using .choice funciton
day_array = np.random.choice(dfDur_day['tripduration'], size = 20000, replace=False)
night_array = np.random.choice(dfDur_night['tripduration'], size = 20000, replace = False)

In [331]:
#Sort arrays to prep for Pearson's and Spearman's Correlation tests:
day_array = np.sort(day_array)
night_array = np.sort(night_array)

# Pearson's Test Comparing Correlation Between Hour of Trip Origin and Trip Durations
This section will begin running the Pearson's Test to show the correlation between hour trip began and the trip duraiton.

## Hypothesis:
There is a correlation between start time and duration of a citibike trip.

## Null Hypothesis ($H_0$) 
There is NO correlation between start time and duration of a citibike trip.

$\alpha$ = 0.05

In [332]:
#run Pearson Test
scipy.stats.pearsonr(day_array, night_array)

(0.85865839996667592, 0.0)

## RESULTS:
Results from the above analysis show that the p Value is exteremely low. Therefore we can rule out a null hypothesis if we assumed alpha value of 0.05.

In [125]:
######################################################################

# Spearman's Test Comparing Correlation Between Hour of Trip Origin and Trip Durations
This section will begin running the Spearman's Test to show the correlation between hour trip began and the trip duraiton.

# Hypothesis:
There is a correlation between start time and duration of a citibike trip.

## Null Hypothesis ($H_0$) 
There is NO correlation between start time and duration of a citibike trip.

$\alpha$ = 0.05

In [210]:
scipy.stats.spearmanr(day_array, night_array)

SpearmanrResult(correlation=0.99999939758988843, pvalue=0.0)

# RESULTS:
Results from the above analysis show that the p Value is exteremely low. Therefore we can rule out a null hypothesis if we assumed alpha value of 0.05.

In [212]:
######################################################################

In [65]:
#Reset what 'df' is equal to
#CONCATENATION!
df3 = pd.concat([df1, df2], axis=0)

In [66]:
df3.columns

Index([u'tripduration', u'starttime', u'stoptime', u'start station id',
       u'start station name', u'start station latitude',
       u'start station longitude', u'end station id', u'end station name',
       u'end station latitude', u'end station longitude', u'bikeid',
       u'usertype', u'birth year', u'gender'],
      dtype='object')

In [67]:
df3.drop([u'tripduration', u'starttime', u'stoptime', u'end station id', u'end station name',
       u'end station latitude', u'end station longitude', u'bikeid',
       u'usertype', u'gender'], axis=1, inplace=True)

In [68]:
df3.head()

,start station id,start station name,start station latitude,start station longitude,birth year
0,128,MacDougal St & Prince St,40.727103,-74.002971,1984.0
1,438,St Marks Pl & 1 Ave,40.727791,-73.985649,1997.0
2,383,Greenwich Ave & Charles St,40.735238,-74.000271,1993.0
3,361,Allen St & Hester St,40.716059,-73.991908,1981.0
4,382,University Pl & E 14 St,40.734927,-73.992005,NaN

In [69]:
df3['age'] = 2017 - df3['birth year']

In [70]:
df3.head()

,start station id,start station name,start station latitude,start station longitude,birth year,age
0,128,MacDougal St & Prince St,40.727103,-74.002971,1984.0,33.0
1,438,St Marks Pl & 1 Ave,40.727791,-73.985649,1997.0,20.0
2,383,Greenwich Ave & Charles St,40.735238,-74.000271,1993.0,24.0
3,361,Allen St & Hester St,40.716059,-73.991908,1981.0,36.0
4,382,University Pl & E 14 St,40.734927,-73.992005,NaN,NaN

In [72]:
#Determining Boroughs 

#Anything greater than 40.739246 is Manhattan
df3.loc[df3['start station latitude'] > 40.739246, 'borough'] = 'Manhattan'

#Anything less than 40.700420 is Brooklyn
df3.loc[df3['start station latitude'] < 40.700420, 'borough'] = 'Brooklyn'

#Anything less than 40.738868 and greater than -73.971104 is Brooklyn
df3.loc[(df3['start station latitude'] < 40.738868) & (df3['start station longitude'] > -73.971104), 'borough'] = 'Brooklyn'

#Anything greater than 40.710150 and less than  -73.971778 is Manhattan
df3.loc[(df3['start station latitude'] > 40.710150) & (df3['start station longitude'] < -73.971778), 'borough'] = 'Manhattan'

#Anything greater than 40.700040 and less than -74.000767 is Manhattan
df3.loc[(df3['start station latitude'] > 40.700040) & (df3['start station longitude'] < -74.000767), 'borough'] = 'Manhattan'

#Anything less than 40.707762 and greater than -73.998355 is Brooklyn
df3.loc[(df3['start station latitude'] < 40.707762) & (df3['start station longitude'] > -73.998355), 'borough'] = 'Brooklyn'

df3.head()
#dfBor = dfAge
#type(dfBor)

,start station id,start station name,start station latitude,start station longitude,birth year,age,borough
0,128,MacDougal St & Prince St,40.727103,-74.002971,1984.0,33.0,Manhattan
1,438,St Marks Pl & 1 Ave,40.727791,-73.985649,1997.0,20.0,Manhattan
2,383,Greenwich Ave & Charles St,40.735238,-74.000271,1993.0,24.0,Manhattan
3,361,Allen St & Hester St,40.716059,-73.991908,1981.0,36.0,Manhattan
4,382,University Pl & E 14 St,40.734927,-73.992005,NaN,NaN,Manhattan

The filters used above to identify the borough are not perfect. While they accurately separate stations in Manhattan from stations in Brooklyn, the filters include some stations in other boroughs. With more time, I would further delineate the margins of the boroughs in order to have a more accurate representation¶

In [74]:
dfBor_M = df[df3.borough == 'Manhattan']
dfBor_B = df[df3.borough == 'Brooklyn']

# KS Statistic, full sample¶

In [76]:
dfBor_M['age'] = 2016 - dfBor_M['birth year']
dfBor_B['age'] = 2016 - dfBor_B['birth year']

KeyError: 'birth year'