# sql carto query function

# written for python2 kernel

In [1]:
#imports to run sql in python notebook
from __future__ import print_function, generators
SQL_SOURCE = 'https://sn2495.carto.com/api/v2/sql?q='
import urllib2
import urllib
import StringIO
import ast
import pandas as pd

In [2]:
#code that alows sql to run in python notebook
def queryCartoDB(query, format='CSV', source=SQL_SOURCE):
    '''queries carto datasets from a given carto account
    Arguments: 
    query - string: a valid sql query string
    format - outlut format  OPTIONAL (default CSV)
    source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    Returns:
    the return of the sql query AS A STRING
    NOTES:
    designed for the carto API, tested only with CSV return format'''
    
    data = urllib.urlencode({'format': format, 'q': query})
    try:
        response = urllib2.urlopen(source, data)
    except urllib2.HTTPError, e:
        raise ValueError('\n'.join(ast.literal_eval(e.readline())['error']))
    except Exception:
        raise
    return response.read()

In [3]:
test = '''
SELECT *
FROM citibike
'''

In [4]:
pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,5960,NaN,NaN,1,1965.0,19217,462,435,351,Subscriber,W 22 St & 10 Ave,W 21 St & 6 Ave,-74.004519,40.746920,-73.994156,40.741740,2015-02-01 20:42:00+00,2015-02-01 20:36:00+00
1,9806,NaN,NaN,1,1971.0,17575,488,167,643,Subscriber,W 39 St & 9 Ave,E 39 St & 3 Ave,-73.993722,40.756458,-73.976049,40.748901,2015-02-03 14:50:00+00,2015-02-03 14:39:00+00
2,13113,NaN,NaN,1,1973.0,20313,440,332,1379,Subscriber,E 45 St & 3 Ave,Cherry St,-73.972826,40.752554,-73.979481,40.712199,2015-02-04 07:30:00+00,2015-02-04 07:07:00+00
3,1,NaN,NaN,2,1978.0,17131,423,521,801,Subscriber,W 54 St & 9 Ave,8 Ave & W 31 St,-73.986905,40.765849,-73.994811,40.750450,2015-02-01 00:14:00+00,2015-02-01 00:00:00+00
4,2,NaN,NaN,1,1993.0,21289,504,497,379,Subscriber,1 Ave & E 15 St,E 17 St & Broadway,-73.981656,40.732219,-73.990093,40.737050,2015-02-01 00:07:00+00,2015-02-01 00:00:00+00
5,3,NaN,NaN,2,1969.0,18903,127,281,2474,Subscriber,Barrow St & Hudson St,Grand Army Plaza & Central Park S,-74.006744,40.731724,-73.973715,40.764397,2015-02-01 00:42:00+00,2015-02-01 00:01:00+00
6,4,NaN,NaN,2,1985.0,21044,505,2004,818,Subscriber,6 Ave & W 33 St,6 Ave & Broome St,-73.988484,40.749013,-74.004704,40.724399,2015-02-01 00:15:00+00,2015-02-01 00:01:00+00
7,5,NaN,NaN,1,1957.0,19868,83,323,544,Subscriber,Atlantic Ave & Fort Greene Pl,Lawrence St & Willoughby St,-73.976323,40.683826,-73.986317,40.692362,2015-02-01 00:10:00+00,2015-02-01 00:01:00+00
8,6,NaN,NaN,1,1979.0,15854,2002,373,717,Subscriber,Wythe Ave & Metropolitan Ave,Willoughby Ave & Walworth St,-73.963198,40.716887,-73.953820,40.693317,2015-02-01 00:14:00+00,2015-02-01 00:02:00+00
9,7,NaN,NaN,1,1983.0,15173,504,352,1306,Subscriber,1 Ave & E 15 St,W 56 St & 6 Ave,-73.981656,40.732219,-73.977225,40.763406,2015-02-01 00:26:00+00,2015-02-01 00:04:00+00
10,8,NaN,NaN,1,1955.0,17862,116,439,913,Subscriber,W 17 St & 8 Ave,E 4 St & 2 Ave,-74.001497,40.741776,-73.989780,40.726281,2015-02-01 00:19:00+00,2015-02-01 00:04:00+00
11,9,NaN,NaN,2,1985.0,21183,2012,335,759,Subscriber,E 27 St & 1 Ave,Washington Pl & Broadway,-73.976806,40.739445,-73.994046,40.729039,2015-02-01 00:17:00+00,2015-02-01 00:04:00+00
12,10,NaN,NaN,1,1982.0,14843,444,284,585,Subscriber,Broadway & W 24 St,Greenwich Ave & 8 Ave,-73.989151,40.742354,-74.002638,40.739017,2015-02-01 00:15:00+00,2015-02-01 00:05:00+00
13,11,NaN,NaN,2,1988.0,16936,444,284,581,Subscriber,Broadway & W 24 St,Greenwich Ave & 8 Ave,-73.989151,40.742354,-74.002638,40.739017,2015-02-01 00:15:00+00,2015-02-01 00:05:00+00
14,12,NaN,NaN,2,1991.0,21507,472,498,204,Subscriber,E 32 St & Park Ave,Broadway & W 32 St,-73.981948,40.745712,-73.988084,40.748549,2015-02-01 00:08:00+00,2015-02-01 00:05:00+00
15,13,NaN,NaN,2,1982.0,17456,307,368,1169,Subscriber,Canal St & Rutgers St,Carmine St & 6 Ave,-73.989900,40.714275,-74.002150,40.730386,2015-02-01 00:27:00+00,2015-02-01 00:07:00+00
16,14,NaN,NaN,2,1990.0,14679,2012,326,419,Subscriber,E 27 St & 1 Ave,E 11 St & 1 Ave,-73.976806,40.739445,-73.984267,40.729538,2015-02-01 00:14:00+00,2015-02-01 00:07:00+00
17,15,NaN,NaN,1,1977.0,18978,212,285,527,Subscriber,W 16 St & The High Line,Broadway & E 14 St,-74.006818,40.743349,-73.990741,40.734546,2015-02-01 00:17:00+00,2015-02-01 00:09:00+00
18,16,NaN,NaN,1,1968.0,16496,488,368,1013,Subscriber,W 39 St & 9 Ave,Carmine St & 6 Ave,-73.993722,40.756458,-74.002150,40.730386,2015-02-01 00:27:00+00,2015-02-01 00:10:00+00
19,17,NaN,NaN,1,1990.0,17107,331,394,587,Subscriber,Pike St & Monroe St,E 9 St & Avenue C,-73.991930,40.711731,-73.977688,40.725213,2015-02-01 00:23:00+00,2015-02-01 00:13:00+00
20,18,NaN,NaN,1,1987.0,16984,507,326,525,Subscriber,E 25 St & 2 Ave,E 11 St & 1 Ave,-73.979738,40.739126,-73.984267,40.729538,2015-02-01 00:22:00+00,2015-02-01 00:13:00+00
21,19,NaN,NaN,1,1980.0,15997,305,493,670,Subscriber,E 58 St & 3 Ave,W 45 St & 6 Ave,-73.967245,40.760958,-73.982912,40.756800,2015-02-01 00:26:00+00,2015-02-01 00:14:00+00
22,20,NaN,NaN,1,1960.0,21516,223,445,711,Subscriber,W 13 St & 7 Ave,E 10 St & Avenue A,-73.999947,40.737815,-73.981420,40.727408,2015-02-01 00:27:00+00,2015-02-01 00:15:00+00
23,21,NaN,NaN,1,1986.0,15815,457,428,1559,Subscriber,Broadway & W 58 St,E 3 St & 1 Ave,-73.981693,40.766953,-73.987834,40.724677,2015-02-01 00:42:00+00,2015-02-01 00:16:00+00
24,22,NaN,NaN,1,1987.0,18727,477,228,683,Subscriber,W 41 St & 8 Ave,E 48 St & 3 Ave,-73.990026,40.756405,-73.971879,40.754601,2015-02-01 00:27:00+00,2015-02-01 00:16:00+00
25,23,NaN,NaN,1,1969.0,14982,488,513,522,Subscriber,W 39 St & 9 Ave,W 56 St & 10 Ave,-73.993722,40.756458,-73.988639,40.768254,2015-02-01 00:24:00+00,2015-02-01 00:16:00+00
26,24,NaN,NaN,1,1957.0,16391,518,507,389,Subscriber,E 39 St & 2 Ave,E 25 St & 2 Ave,-73.973442,40.747804,-73.979738,40.739126,2015-02-01 00:23:00+00,2015-02-01 00:16:00+00
27,25,NaN,NaN,1,1981.0,15947,473,439,276,Subscriber,Rivington St & Chrystie St,E 4 St & 2 Ave,-73.991925,40.721101,-73.989780,40.726281,2015-02-01 00:21:00+00,2015-02-01 00:16:00+00
28,26,NaN,NaN,1,1993.0,16917,531,128,907,Subscriber,Forsyth St & Broome St,MacDougal St & Prince St,-73.992663,40.718939,-74.002971,40.727103,2015-02-01 00:32:00+00,2015-02-01 00:17:00+00
29,27,NaN,NaN,1,1975.0,15924,528,490,946,Subscriber,2 Ave & E 31 St,8 Ave & W 33 St,-73.977061,40.742909,-73.993934,40.751551,2015-02-01 00:33:00+00,2015-02-01 00:18:00+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46170,46171,NaN,NaN,1,1988.0,15733,435,335,812,Subscriber,W 21 St & 6 Ave,Washington Pl & Broadway,-73.994156,40.741740,-73.994046,40.729039,2015-02-08 00:05:00+00,2015-02-07 23:51:00+00
46171,46172,NaN,NaN,1,1995.0,16931,504,361,647,Subscriber,1 Ave & E 15 St,Allen St & Hester St,-73.981656,40.732219,-73.991908,40.716059,2015-02-08 00:02:00+00,2015-02-07 23:51:00+00
46172,46173,NaN,NaN,1,1987.0,17202,401,152,563,Subscriber,Allen St & Rivington St,Warren St & Church St,-73.989978,40.720196,-74.009106,40.714740,2015-02-08 00:00:00+00,2015-02-07 23:51:00+00
46173,46174,NaN,NaN,2,1989.0,20314,439,483,470,Subscriber,E 4 St & 2 Ave,E 12 St & 3 Ave,-73.989780,40.726281,-73.988900,40.732233,2015-02-07 23:59:00+00,2015-02-07 23:51:00+00
46174,46175,NaN,NaN,1,1989.0,21531,395,467,299,Subscriber,Bond St & Schermerhorn St,Dean St & 4 Ave,-73.984106,40.688070,-73.978951,40.683125,2015-02-07 23:56:00+00,2015-02-07 23:51:00+00
46175,46176,NaN,NaN,1,1968.0,21491,504,361,629,Subscriber,1 Ave & E 15 St,Allen St & Hester St,-73.981656,40.732219,-73.991908,40.716059,2015-02-08 00:02:00+00,2015-02-07 23:52:00+00
46176,46177,NaN,NaN,1,1990.0,15367,380,402,499,Subscriber,W 4 St & 7 Ave S,Broadway & E 22 St,-74.002939,40.734011,-73.989551,40.740343,2015-02-08 00:00:00+00,2015-02-07 23:52:00+00
46177,46178,NaN,NaN,2,1973.0,18978,368,369,474,Subscriber,Carmine St & 6 Ave,Washington Pl & 6 Ave,-74.002150,40.730386,-74.000264,40.732241,2015-02-08 00:00:00+00,2015-02-07 23:52:00+00
46178,46179,NaN,NaN,1,1980.0,19507,504,476,345,Subscriber,1 Ave & E 15 St,E 31 St & 3 Ave,-73.981656,40.732219,-73.979661,40.743943,2015-02-07 23:58:00+00,2015-02-07 23:52:00+00
46179,46180,NaN,NaN,1,1980.0,16936,160,499,829,Subscriber,E 37 St & Lexington Ave,Broadway & W 60 St,-73.978311,40.748238,-73.981918,40.769155,2015-02-08 00:07:00+00,2015-02-07 23:53:00+00
46180,46181,NaN,NaN,1,1982.0,18689,531,368,776,Subscriber,Forsyth St & Broome St,Carmine St & 6 Ave,-73.992663,40.718939,-74.002150,40.730386,2015-02-08 00:05:00+00,2015-02-07 23:53:00+00
46181,46182,NaN,NaN,1,1972.0,15781,478,520,697,Subscriber,11 Ave & W 41 St,W 52 St & 5 Ave,-73.998842,40.760301,-73.976485,40.759923,2015-02-08 00:05:00+00,2015-02-07 23:53:00+00
46182,46183,NaN,NaN,1,1988.0,15081,471,467,1703,Subscriber,Grand St & Havemeyer St,Dean St & 4 Ave,-73.956981,40.712868,-73.978951,40.683125,2015-02-08 00:23:00+00,2015-02-07 23:54:00+00
46183,46184,NaN,NaN,1,1983.0,21672,247,479,922,Subscriber,Perry St & Bleecker St,9 Ave & W 45 St,-74.004831,40.735354,-73.991255,40.760193,2015-02-08 00:10:00+00,2015-02-07 23:54:00+00
46184,46185,NaN,NaN,1,1970.0,16336,488,457,849,Subscriber,W 39 St & 9 Ave,Broadway & W 58 St,-73.993722,40.756458,-73.981693,40.766953,2015-02-08 00:08:00+00,2015-02-07 23:54:00+00
46185,46186,NaN,NaN,1,1973.0,21609,488,457,826,Subscriber,W 39 St & 9 Ave,Broadway & W 58 St,-73.993722,40.756458,-73.981693,40.766953,2015-02-08 00:08:00+00,2015-02-07 23:54:00+00
46186,46187,NaN,NaN,1,1964.0,19470,3002,328,473,Subscriber,South End Ave & Liberty St,Watts St & Greenwich St,-74.015756,40.711512,-74.009660,40.724055,2015-02-08 00:02:00+00,2015-02-07 23:54:00+00
46187,46188,NaN,NaN,1,1960.0,18167,450,510,332,Subscriber,W 49 St & 8 Ave,W 51 St & 6 Ave,-73.987882,40.762272,-73.980420,40.760660,2015-02-07 23:59:00+00,2015-02-07 23:54:00+00
46188,46189,NaN,NaN,1,1987.0,15929,404,382,456,Subscriber,9 Ave & W 14 St,University Pl & E 14 St,-74.005509,40.740583,-73.992005,40.734927,2015-02-08 00:03:00+00,2015-02-07 23:55:00+00
46189,46190,NaN,NaN,1,1983.0,17541,466,254,327,Subscriber,W 25 St & 6 Ave,W 11 St & 6 Ave,-73.991449,40.743954,-73.998004,40.735324,2015-02-08 00:01:00+00,2015-02-07 23:55:00+00
46190,46191,NaN,NaN,2,1983.0,14736,494,116,306,Subscriber,W 26 St & 8 Ave,W 17 St & 8 Ave,-73.997236,40.747348,-74.001497,40.741776,2015-02-08 00:01:00+00,2015-02-07 23:55:00+00
46191,46192,NaN,NaN,1,1984.0,16300,432,495,1248,Subscriber,E 7 St & Avenue A,W 47 St & 10 Ave,-73.983799,40.726218,-73.993012,40.762699,2015-02-08 00:17:00+00,2015-02-07 23:56:00+00
46192,46193,NaN,NaN,1,1959.0,16978,325,152,1165,Subscriber,E 19 St & 3 Ave,Warren St & Church St,-73.984738,40.736245,-74.009106,40.714740,2015-02-08 00:15:00+00,2015-02-07 23:56:00+00
46193,46194,NaN,NaN,1,1974.0,16722,295,461,993,Subscriber,Pike St & E Broadway,E 20 St & 2 Ave,-73.992939,40.714067,-73.982050,40.735877,2015-02-08 00:13:00+00,2015-02-07 23:56:00+00
46194,46195,NaN,NaN,2,1960.0,20184,265,455,1422,Subscriber,Stanton St & Chrystie St,1 Ave & E 44 St,-73.991475,40.722293,-73.969053,40.750020,2015-02-08 00:20:00+00,2015-02-07 23:57:00+00
46195,46196,NaN,NaN,1,1953.0,15585,325,470,689,Subscriber,E 19 St & 3 Ave,W 20 St & 8 Ave,-73.984738,40.736245,-74.000040,40.743453,2015-02-08 00:08:00+00,2015-02-07 23:57:00+00
46196,46197,NaN,NaN,2,1986.0,16395,325,474,428,Subscriber,E 19 St & 3 Ave,5 Ave & E 29 St,-73.984738,40.736245,-73.986831,40.745168,2015-02-08 00:04:00+00,2015-02-07 23:57:00+00
46197,46198,NaN,NaN,1,1986.0,15545,325,474,392,Subscriber,E 19 St & 3 Ave,5 Ave & E 29 St,-73.984738,40.736245,-73.986831,40.745168,2015-02-08 00:03:00+00,2015-02-07 23:57:00+00
46198,46199,NaN,NaN,2,1983.0,19540,334,368,548,Subscriber,W 20 St & 7 Ave,Carmine St & 6 Ave,-73.997262,40.742388,-74.002150,40.730386,2015-02-08 00:08:00+00,2015-02-07 23:58:00+00
46199,46200,NaN,NaN,2,1965.0,20998,417,439,917,Subscriber,Barclay St & Church St,E 4 St & 2 Ave,-74.010202,40.712912,-73.989780,40.726281,2015-02-08 00:15:00+00,2015-02-07 23:59:00+00

In [5]:
#task 1: select trips under 3 hours in length
task_1_1 = '''
SELECT * FROM citibike
WHERE tripduration<10800
ORDER BY start_station_id, tripduration
'''

In [6]:
pd.read_csv(StringIO.StringIO(queryCartoDB(task_1_1)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,8998,NaN,NaN,2,1980.0,19039,72,72,107,Subscriber,W 52 St & 11 Ave,W 52 St & 11 Ave,-73.993929,40.767272,-73.993929,40.767272,2015-02-03 10:12:00+00,2015-02-03 10:10:00+00
1,40759,NaN,NaN,2,1959.0,18131,72,72,189,Subscriber,W 52 St & 11 Ave,W 52 St & 11 Ave,-73.993929,40.767272,-73.993929,40.767272,2015-02-07 10:43:00+00,2015-02-07 10:40:00+00
2,40757,NaN,NaN,1,1995.0,19729,72,72,229,Subscriber,W 52 St & 11 Ave,W 52 St & 11 Ave,-73.993929,40.767272,-73.993929,40.767272,2015-02-07 10:44:00+00,2015-02-07 10:40:00+00
3,21948,NaN,NaN,1,1970.0,16879,478,72,248,Subscriber,11 Ave & W 41 St,W 52 St & 11 Ave,-73.998842,40.760301,-73.993929,40.767272,2015-02-05 06:24:00+00,2015-02-05 06:19:00+00
4,43099,NaN,NaN,1,1983.0,15277,515,72,252,Subscriber,W 43 St & 10 Ave,W 52 St & 11 Ave,-73.994618,40.760094,-73.993929,40.767272,2015-02-07 15:47:00+00,2015-02-07 15:43:00+00
5,32566,NaN,NaN,1,1971.0,18492,478,72,261,Subscriber,11 Ave & W 41 St,W 52 St & 11 Ave,-73.998842,40.760301,-73.993929,40.767272,2015-02-06 09:02:00+00,2015-02-06 08:58:00+00
6,15971,NaN,NaN,1,1961.0,19216,478,72,276,Subscriber,11 Ave & W 41 St,W 52 St & 11 Ave,-73.998842,40.760301,-73.993929,40.767272,2015-02-04 12:51:00+00,2015-02-04 12:46:00+00
7,41355,NaN,NaN,1,1974.0,21588,447,72,283,Subscriber,8 Ave & W 52 St,W 52 St & 11 Ave,-73.985162,40.763707,-73.993929,40.767272,2015-02-07 12:15:00+00,2015-02-07 12:10:00+00
8,42074,NaN,NaN,1,1978.0,19124,514,72,288,Subscriber,12 Ave & W 40 St,W 52 St & 11 Ave,-74.002777,40.760875,-73.993929,40.767272,2015-02-07 13:54:00+00,2015-02-07 13:50:00+00
9,2282,NaN,NaN,1,1974.0,18174,447,72,301,Subscriber,8 Ave & W 52 St,W 52 St & 11 Ave,-73.985162,40.763707,-73.993929,40.767272,2015-02-01 13:13:00+00,2015-02-01 13:08:00+00
10,44674,NaN,NaN,1,1983.0,18198,526,72,304,Subscriber,E 33 St & 5 Ave,W 52 St & 11 Ave,-73.984907,40.747659,-73.993929,40.767272,2015-02-07 18:36:00+00,2015-02-07 18:31:00+00
11,2142,NaN,NaN,1,1982.0,19672,478,72,339,Subscriber,11 Ave & W 41 St,W 52 St & 11 Ave,-73.998842,40.760301,-73.993929,40.767272,2015-02-01 13:00:00+00,2015-02-01 12:54:00+00
12,649,NaN,NaN,2,1986.0,14692,2021,72,344,Subscriber,W 45 St & 8 Ave,W 52 St & 11 Ave,-73.988597,40.759291,-73.993929,40.767272,2015-02-01 09:54:00+00,2015-02-01 09:49:00+00
13,44789,NaN,NaN,1,1983.0,17669,447,72,345,Subscriber,8 Ave & W 52 St,W 52 St & 11 Ave,-73.985162,40.763707,-73.993929,40.767272,2015-02-07 18:51:00+00,2015-02-07 18:46:00+00
14,9494,NaN,NaN,1,1961.0,16754,478,72,348,Subscriber,11 Ave & W 41 St,W 52 St & 11 Ave,-73.998842,40.760301,-73.993929,40.767272,2015-02-03 13:06:00+00,2015-02-03 13:01:00+00
15,42446,NaN,NaN,1,1983.0,21114,500,72,359,Subscriber,Broadway & W 51 St,W 52 St & 11 Ave,-73.983362,40.762288,-73.993929,40.767272,2015-02-07 14:39:00+00,2015-02-07 14:33:00+00
16,41465,NaN,NaN,1,1970.0,19729,515,72,366,Subscriber,W 43 St & 10 Ave,W 52 St & 11 Ave,-73.994618,40.760094,-73.993929,40.767272,2015-02-07 12:36:00+00,2015-02-07 12:29:00+00
17,14395,NaN,NaN,1,1981.0,18620,500,72,367,Subscriber,Broadway & W 51 St,W 52 St & 11 Ave,-73.983362,40.762288,-73.993929,40.767272,2015-02-04 09:05:00+00,2015-02-04 08:59:00+00
18,19984,NaN,NaN,1,1981.0,20119,450,72,373,Subscriber,W 49 St & 8 Ave,W 52 St & 11 Ave,-73.987882,40.762272,-73.993929,40.767272,2015-02-04 19:22:00+00,2015-02-04 19:16:00+00
19,8726,NaN,NaN,1,1981.0,20988,500,72,375,Subscriber,Broadway & W 51 St,W 52 St & 11 Ave,-73.983362,40.762288,-73.993929,40.767272,2015-02-03 09:21:00+00,2015-02-03 09:15:00+00
20,25842,NaN,NaN,2,1972.0,16310,500,72,377,Subscriber,Broadway & W 51 St,W 52 St & 11 Ave,-73.983362,40.762288,-73.993929,40.767272,2015-02-05 13:01:00+00,2015-02-05 12:55:00+00
21,26155,NaN,NaN,1,1978.0,18287,514,72,377,Subscriber,12 Ave & W 40 St,W 52 St & 11 Ave,-74.002777,40.760875,-73.993929,40.767272,2015-02-05 13:52:00+00,2015-02-05 13:46:00+00
22,25587,NaN,NaN,1,1973.0,18991,500,72,379,Subscriber,Broadway & W 51 St,W 52 St & 11 Ave,-73.983362,40.762288,-73.993929,40.767272,2015-02-05 12:21:00+00,2015-02-05 12:15:00+00
23,24156,NaN,NaN,1,1981.0,20600,500,72,380,Subscriber,Broadway & W 51 St,W 52 St & 11 Ave,-73.983362,40.762288,-73.993929,40.767272,2015-02-05 09:21:00+00,2015-02-05 09:14:00+00
24,27104,NaN,NaN,1,1973.0,15927,479,72,386,Subscriber,9 Ave & W 45 St,W 52 St & 11 Ave,-73.991255,40.760193,-73.993929,40.767272,2015-02-05 16:06:00+00,2015-02-05 16:00:00+00
25,3957,NaN,NaN,1,1991.0,15282,514,72,387,Subscriber,12 Ave & W 40 St,W 52 St & 11 Ave,-74.002777,40.760875,-73.993929,40.767272,2015-02-01 16:03:00+00,2015-02-01 15:57:00+00
26,9194,NaN,NaN,1,1980.0,17196,500,72,388,Subscriber,Broadway & W 51 St,W 52 St & 11 Ave,-73.983362,40.762288,-73.993929,40.767272,2015-02-03 11:30:00+00,2015-02-03 11:23:00+00
27,31639,NaN,NaN,1,1978.0,16405,529,72,388,Subscriber,W 42 St & 8 Ave,W 52 St & 11 Ave,-73.990985,40.757570,-73.993929,40.767272,2015-02-06 08:00:00+00,2015-02-06 07:53:00+00
28,38564,NaN,NaN,1,1974.0,19771,500,72,396,Subscriber,Broadway & W 51 St,W 52 St & 11 Ave,-73.983362,40.762288,-73.993929,40.767272,2015-02-06 20:01:00+00,2015-02-06 19:55:00+00
29,33221,NaN,NaN,2,1986.0,17972,2021,72,396,Subscriber,W 45 St & 8 Ave,W 52 St & 11 Ave,-73.988597,40.759291,-73.993929,40.767272,2015-02-06 10:06:00+00,2015-02-06 09:59:00+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46121,31410,NaN,NaN,1,1958.0,17595,388,3002,1221,Subscriber,W 26 St & 10 Ave,South End Ave & Liberty St,-74.002950,40.749718,-74.015756,40.711512,2015-02-06 07:54:00+00,2015-02-06 07:33:00+00
46122,22533,NaN,NaN,1,1962.0,15178,434,3002,1240,Subscriber,9 Ave & W 18 St,South End Ave & Liberty St,-74.003664,40.743174,-74.015756,40.711512,2015-02-05 07:58:00+00,2015-02-05 07:37:00+00
46123,1333,NaN,NaN,0,NaN,18288,360,3002,1243,Customer,William St & Pine St,South End Ave & Liberty St,-74.008873,40.707179,-74.015756,40.711512,2015-02-01 11:48:00+00,2015-02-01 11:27:00+00
46124,23807,NaN,NaN,1,1974.0,16147,496,3002,1244,Subscriber,E 16 St & 5 Ave,South End Ave & Liberty St,-73.992390,40.737262,-74.015756,40.711512,2015-02-05 09:16:00+00,2015-02-05 08:55:00+00
46125,27637,NaN,NaN,1,1973.0,17061,521,3002,1285,Subscriber,8 Ave & W 31 St,South End Ave & Liberty St,-73.994811,40.750450,-74.015756,40.711512,2015-02-05 17:20:00+00,2015-02-05 16:59:00+00
46126,22399,NaN,NaN,1,1991.0,17198,459,3002,1312,Subscriber,W 20 St & 11 Ave,South End Ave & Liberty St,-74.007756,40.746745,-74.015756,40.711512,2015-02-05 07:48:00+00,2015-02-05 07:26:00+00
46127,24714,NaN,NaN,1,1958.0,20872,388,3002,1313,Subscriber,W 26 St & 10 Ave,South End Ave & Liberty St,-74.002950,40.749718,-74.015756,40.711512,2015-02-05 10:21:00+00,2015-02-05 10:00:00+00
46128,41541,NaN,NaN,1,1955.0,15495,168,3002,1332,Subscriber,W 18 St & 6 Ave,South End Ave & Liberty St,-73.994564,40.739713,-74.015756,40.711512,2015-02-07 13:02:00+00,2015-02-07 12:40:00+00
46129,43007,NaN,NaN,1,1966.0,20780,382,3002,1417,Subscriber,University Pl & E 14 St,South End Ave & Liberty St,-73.992005,40.734927,-74.015756,40.711512,2015-02-07 15:59:00+00,2015-02-07 15:35:00+00
46130,35349,NaN,NaN,1,1956.0,17077,334,3002,1445,Subscriber,W 20 St & 7 Ave,South End Ave & Liberty St,-73.997262,40.742388,-74.015756,40.711512,2015-02-06 16:02:00+00,2015-02-06 15:38:00+00
46131,20877,NaN,NaN,1,1986.0,20268,438,3002,1460,Subscriber,St Marks Pl & 1 Ave,South End Ave & Liberty St,-73.985649,40.727791,-74.015756,40.711512,2015-02-04 21:20:00+00,2015-02-04 20:56:00+00
46132,39913,NaN,NaN,1,1954.0,15586,514,3002,1485,Subscriber,12 Ave & W 40 St,South End Ave & Liberty St,-74.002777,40.760875,-74.015756,40.711512,2015-02-07 08:52:00+00,2015-02-07 08:27:00+00
46133,38954,NaN,NaN,1,1986.0,19331,438,3002,1521,Subscriber,St Marks Pl & 1 Ave,South End Ave & Liberty St,-73.985649,40.727791,-74.015756,40.711512,2015-02-06 21:36:00+00,2015-02-06 21:11:00+00
46134,30026,NaN,NaN,1,1949.0,15627,375,3002,1606,Subscriber,Mercer St & Bleecker St,South End Ave & Liberty St,-73.996951,40.726795,-74.015756,40.711512,2015-02-05 20:29:00+00,2015-02-05 20:02:00+00
46135,14538,NaN,NaN,1,1959.0,17488,494,3002,1626,Subscriber,W 26 St & 8 Ave,South End Ave & Liberty St,-73.997236,40.747348,-74.015756,40.711512,2015-02-04 09:39:00+00,2015-02-04 09:11:00+00
46136,2368,NaN,NaN,0,NaN,16918,478,3002,1666,Customer,11 Ave & W 41 St,South End Ave & Liberty St,-73.998842,40.760301,-74.015756,40.711512,2015-02-01 13:46:00+00,2015-02-01 13:18:00+00
46137,24145,NaN,NaN,1,1959.0,15102,494,3002,1716,Subscriber,W 26 St & 8 Ave,South End Ave & Liberty St,-73.997236,40.747348,-74.015756,40.711512,2015-02-05 09:43:00+00,2015-02-05 09:14:00+00
46138,32820,NaN,NaN,1,1959.0,15403,521,3002,1717,Subscriber,8 Ave & W 31 St,South End Ave & Liberty St,-73.994811,40.750450,-74.015756,40.711512,2015-02-06 09:48:00+00,2015-02-06 09:19:00+00
46139,35576,NaN,NaN,1,1969.0,21158,318,3002,1776,Subscriber,E 43 St & Vanderbilt Ave,South End Ave & Liberty St,-73.977987,40.753202,-74.015756,40.711512,2015-02-06 16:32:00+00,2015-02-06 16:02:00+00
46140,24214,NaN,NaN,1,1981.0,16496,449,3002,1823,Subscriber,W 52 St & 9 Ave,South End Ave & Liberty St,-73.987895,40.764618,-74.015756,40.711512,2015-02-05 09:50:00+00,2015-02-05 09:20:00+00
46141,17590,NaN,NaN,1,1969.0,20246,318,3002,1830,Subscriber,E 43 St & Vanderbilt Ave,South End Ave & Liberty St,-73.977987,40.753202,-74.015756,40.711512,2015-02-04 17:04:00+00,2015-02-04 16:33:00+00
46142,1228,NaN,NaN,0,NaN,17849,525,3002,1900,Customer,W 34 St & 11 Ave,South End Ave & Liberty St,-74.002116,40.755942,-74.015756,40.711512,2015-02-01 11:45:00+00,2015-02-01 11:14:00+00
46143,11587,NaN,NaN,1,1996.0,19133,279,3002,1908,Subscriber,Peck Slip & Front St,South End Ave & Liberty St,-74.001670,40.707873,-74.015756,40.711512,2015-02-03 19:26:00+00,2015-02-03 18:54:00+00
46144,44703,NaN,NaN,2,1964.0,15443,410,3002,1920,Subscriber,Suffolk St & Stanton St,South End Ave & Liberty St,-73.985180,40.720664,-74.015756,40.711512,2015-02-07 19:08:00+00,2015-02-07 18:36:00+00
46145,6781,NaN,NaN,1,1959.0,19665,494,3002,1976,Subscriber,W 26 St & 8 Ave,South End Ave & Liberty St,-73.997236,40.747348,-74.015756,40.711512,2015-02-02 09:53:00+00,2015-02-02 09:21:00+00
46146,27203,NaN,NaN,1,1969.0,20069,318,3002,1977,Subscriber,E 43 St & Vanderbilt Ave,South End Ave & Liberty St,-73.977987,40.753202,-74.015756,40.711512,2015-02-05 16:44:00+00,2015-02-05 16:11:00+00
46147,10173,NaN,NaN,1,1969.0,15309,318,3002,1977,Subscriber,E 43 St & Vanderbilt Ave,South End Ave & Liberty St,-73.977987,40.753202,-74.015756,40.711512,2015-02-03 16:37:00+00,2015-02-03 16:04:00+00
46148,23529,NaN,NaN,1,1985.0,21473,359,3002,2131,Subscriber,E 47 St & Park Ave,South End Ave & Liberty St,-73.974987,40.755103,-74.015756,40.711512,2015-02-05 09:17:00+00,2015-02-05 08:42:00+00
46149,8831,NaN,NaN,1,1958.0,15552,510,3002,2139,Subscriber,W 51 St & 6 Ave,South End Ave & Liberty St,-73.980420,40.760660,-74.015756,40.711512,2015-02-03 10:09:00+00,2015-02-03 09:33:00+00
46150,1506,NaN,NaN,0,NaN,21202,499,3002,7225,Customer,Broadway & W 60 St,South End Ave & Liberty St,-73.981918,40.769155,-74.015756,40.711512,2015-02-01 13:47:00+00,2015-02-01 11:46:00+00

In [7]:
#task 1: show only 10 entries
task_1_2 = '''
SELECT * FROM citibike
LIMIT 10'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task_1_2)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,5960,NaN,NaN,1,1965,19217,462,435,351,Subscriber,W 22 St & 10 Ave,W 21 St & 6 Ave,-74.004519,40.746920,-73.994156,40.741740,2015-02-01 20:42:00+00,2015-02-01 20:36:00+00
1,9806,NaN,NaN,1,1971,17575,488,167,643,Subscriber,W 39 St & 9 Ave,E 39 St & 3 Ave,-73.993722,40.756458,-73.976049,40.748901,2015-02-03 14:50:00+00,2015-02-03 14:39:00+00
2,13113,NaN,NaN,1,1973,20313,440,332,1379,Subscriber,E 45 St & 3 Ave,Cherry St,-73.972826,40.752554,-73.979481,40.712199,2015-02-04 07:30:00+00,2015-02-04 07:07:00+00
3,1,NaN,NaN,2,1978,17131,423,521,801,Subscriber,W 54 St & 9 Ave,8 Ave & W 31 St,-73.986905,40.765849,-73.994811,40.750450,2015-02-01 00:14:00+00,2015-02-01 00:00:00+00
4,2,NaN,NaN,1,1993,21289,504,497,379,Subscriber,1 Ave & E 15 St,E 17 St & Broadway,-73.981656,40.732219,-73.990093,40.737050,2015-02-01 00:07:00+00,2015-02-01 00:00:00+00
5,3,NaN,NaN,2,1969,18903,127,281,2474,Subscriber,Barrow St & Hudson St,Grand Army Plaza & Central Park S,-74.006744,40.731724,-73.973715,40.764397,2015-02-01 00:42:00+00,2015-02-01 00:01:00+00
6,4,NaN,NaN,2,1985,21044,505,2004,818,Subscriber,6 Ave & W 33 St,6 Ave & Broome St,-73.988484,40.749013,-74.004704,40.724399,2015-02-01 00:15:00+00,2015-02-01 00:01:00+00
7,5,NaN,NaN,1,1957,19868,83,323,544,Subscriber,Atlantic Ave & Fort Greene Pl,Lawrence St & Willoughby St,-73.976323,40.683826,-73.986317,40.692362,2015-02-01 00:10:00+00,2015-02-01 00:01:00+00
8,6,NaN,NaN,1,1979,15854,2002,373,717,Subscriber,Wythe Ave & Metropolitan Ave,Willoughby Ave & Walworth St,-73.963198,40.716887,-73.953820,40.693317,2015-02-01 00:14:00+00,2015-02-01 00:02:00+00
9,7,NaN,NaN,1,1983,15173,504,352,1306,Subscriber,1 Ave & E 15 St,W 56 St & 6 Ave,-73.981656,40.732219,-73.977225,40.763406,2015-02-01 00:26:00+00,2015-02-01 00:04:00+00

In [8]:
#task 1: isolate distinct station id's
task_1_3 = '''
SELECT distinct start_station_id
FROM citibike
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task_1_3)), sep=',')

     start_station_id  Unnamed: 1
0                 195         NaN
1                 251         NaN
2                 285         NaN
3                 120         NaN
4                 483         NaN
5                 264         NaN
6                 497         NaN
7                 305         NaN
8                 318         NaN
9                 312         NaN
10                496         NaN
11                455         NaN
12                470         NaN
13                276         NaN
14               2008         NaN
15                313         NaN
16                262         NaN
17                362         NaN
18                151         NaN
19                384         NaN
20                119         NaN
21                399         NaN
22                356         NaN
23                270         NaN
24                437         NaN
25                514         NaN
26                518         NaN
27                329         NaN
28                268         NaN
29                531         NaN
..                ...         ...
297               420         NaN
298               443         NaN
299               490         NaN
300               492         NaN
301               416         NaN
302               331         NaN
303               232         NaN
304               427         NaN
305               377         NaN
306               445         NaN
307               411         NaN
308               260         NaN
309               403         NaN
310               494         NaN
311               244         NaN
312               128         NaN
313               223         NaN
314               456         NaN
315               300         NaN
316               217         NaN
317               538         NaN
318               383         NaN
319               212         NaN
320               353         NaN
321               328         NaN
322               216         NaN
323               263         NaN
324               266         NaN
325               144         NaN
326               453         NaN

[327 rows x 2 columns]

In [9]:
#task 1: count number of trips
task_1_4 = '''
SELECT COUNT(start_station_id)
FROM citibike
WHERE tripduration<10800
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task_1_4)), sep=',')

   count  Unnamed: 1
0  46151         NaN

In [10]:
#task 1: find avg trip duration
task_1_5 = '''
SELECT avg(tripduration)
FROM citibike
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task_1_5)), sep=',')

          avg  Unnamed: 1
0  675.865823         NaN

In [11]:
#task 1: min trip duration
task_1_6 = '''
SELECT min(tripduration)
FROM citibike
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task_1_6)), sep=',')

   min  Unnamed: 1
0   60         NaN

In [12]:
#task 1: max trip duration
task_1_7 = '''
SELECT max(tripduration)
FROM citibike
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task_1_7)), sep=',')

     max  Unnamed: 1
0  43016         NaN

In [13]:
#task 2: isolate trips started on 20150202
task_2_1 = '''
SELECT * FROM citibike
where starttime>'2015-02-02' and starttime<'2015-02-03'
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task_2_1)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,6442,NaN,NaN,1,1992.0,20684,489,442,199,Subscriber,10 Ave & W 28 St,W 27 St & 7 Ave,-74.001768,40.750664,-73.993915,40.746647,2015-02-02 00:05:00+00,2015-02-02 00:02:00+00
1,6443,NaN,NaN,2,1964.0,16094,349,326,418,Subscriber,Rivington St & Ridge St,E 11 St & 1 Ave,-73.983299,40.718502,-73.984267,40.729538,2015-02-02 00:10:00+00,2015-02-02 00:03:00+00
2,6444,NaN,NaN,1,1974.0,17362,415,279,276,Subscriber,Pearl St & Hanover Square,Peck Slip & Front St,-74.009260,40.704718,-74.001670,40.707873,2015-02-02 00:09:00+00,2015-02-02 00:04:00+00
3,6445,NaN,NaN,2,1992.0,15475,237,496,420,Subscriber,E 11 St & 2 Ave,E 16 St & 5 Ave,-73.986724,40.730473,-73.992390,40.737262,2015-02-02 00:13:00+00,2015-02-02 00:06:00+00
4,6446,NaN,NaN,1,1968.0,16272,450,477,304,Subscriber,W 49 St & 8 Ave,W 41 St & 8 Ave,-73.987882,40.762272,-73.990026,40.756405,2015-02-02 00:12:00+00,2015-02-02 00:07:00+00
5,6447,NaN,NaN,1,1979.0,16370,391,467,622,Subscriber,Clark St & Henry St,Dean St & 4 Ave,-73.993446,40.697601,-73.978951,40.683125,2015-02-02 00:18:00+00,2015-02-02 00:08:00+00
6,6448,NaN,NaN,1,1963.0,19437,482,434,371,Subscriber,W 15 St & 7 Ave,9 Ave & W 18 St,-73.999318,40.739355,-74.003664,40.743174,2015-02-02 00:15:00+00,2015-02-02 00:09:00+00
7,6449,NaN,NaN,1,1982.0,21211,2008,330,477,Subscriber,Little West St & 1 Pl,Reade St & Broadway,-74.016777,40.705693,-74.005628,40.714505,2015-02-02 00:19:00+00,2015-02-02 00:11:00+00
8,6450,NaN,NaN,2,1978.0,21417,423,521,743,Subscriber,W 54 St & 9 Ave,8 Ave & W 31 St,-73.986905,40.765849,-73.994811,40.750450,2015-02-02 00:25:00+00,2015-02-02 00:12:00+00
9,6451,NaN,NaN,1,1956.0,15722,453,504,599,Subscriber,W 22 St & 8 Ave,1 Ave & E 15 St,-73.999154,40.744751,-73.981656,40.732219,2015-02-02 00:22:00+00,2015-02-02 00:12:00+00
10,6452,NaN,NaN,1,1962.0,18972,236,285,345,Subscriber,St Marks Pl & 2 Ave,Broadway & E 14 St,-73.987140,40.728419,-73.990741,40.734546,2015-02-02 00:18:00+00,2015-02-02 00:12:00+00
11,6453,NaN,NaN,1,1980.0,19628,476,301,721,Subscriber,E 31 St & 3 Ave,E 2 St & Avenue B,-73.979661,40.743943,-73.983688,40.722174,2015-02-02 00:25:00+00,2015-02-02 00:13:00+00
12,6454,NaN,NaN,1,1978.0,15169,376,279,182,Subscriber,John St & William St,Peck Slip & Front St,-74.007222,40.708621,-74.001670,40.707873,2015-02-02 00:16:00+00,2015-02-02 00:13:00+00
13,6455,NaN,NaN,1,1997.0,17533,411,342,154,Subscriber,E 6 St & Avenue D,Columbia St & Rivington St,-73.976687,40.722281,-73.980166,40.717400,2015-02-02 00:16:00+00,2015-02-02 00:13:00+00
14,6456,NaN,NaN,1,1983.0,19761,491,470,435,Subscriber,E 24 St & Park Ave S,W 20 St & 8 Ave,-73.986022,40.740964,-74.000040,40.743453,2015-02-02 00:21:00+00,2015-02-02 00:14:00+00
15,6457,NaN,NaN,1,1993.0,17267,393,236,310,Subscriber,E 5 St & Avenue C,St Marks Pl & 2 Ave,-73.979955,40.722992,-73.987140,40.728419,2015-02-02 00:20:00+00,2015-02-02 00:15:00+00
16,6458,NaN,NaN,1,1964.0,18691,470,470,1274,Subscriber,W 20 St & 8 Ave,W 20 St & 8 Ave,-74.000040,40.743453,-74.000040,40.743453,2015-02-02 00:37:00+00,2015-02-02 00:16:00+00
17,6459,NaN,NaN,1,1977.0,17106,174,485,642,Subscriber,E 25 St & 1 Ave,W 37 St & 5 Ave,-73.977387,40.738177,-73.983390,40.750380,2015-02-02 00:29:00+00,2015-02-02 00:18:00+00
18,6460,NaN,NaN,1,1973.0,20009,483,345,256,Subscriber,E 12 St & 3 Ave,W 13 St & 6 Ave,-73.988900,40.732233,-73.997044,40.736494,2015-02-02 00:22:00+00,2015-02-02 00:18:00+00
19,6461,NaN,NaN,1,1979.0,18777,442,489,334,Subscriber,W 27 St & 7 Ave,10 Ave & W 28 St,-73.993915,40.746647,-74.001768,40.750664,2015-02-02 00:25:00+00,2015-02-02 00:19:00+00
20,6462,NaN,NaN,1,1989.0,15357,174,507,90,Subscriber,E 25 St & 1 Ave,E 25 St & 2 Ave,-73.977387,40.738177,-73.979738,40.739126,2015-02-02 00:20:00+00,2015-02-02 00:19:00+00
21,6463,NaN,NaN,1,1983.0,18487,405,380,203,Subscriber,Washington St & Gansevoort St,W 4 St & 7 Ave S,-74.008119,40.739323,-74.002939,40.734011,2015-02-02 00:23:00+00,2015-02-02 00:20:00+00
22,6464,NaN,NaN,1,1981.0,20863,439,334,649,Subscriber,E 4 St & 2 Ave,W 20 St & 7 Ave,-73.989780,40.726281,-73.997262,40.742388,2015-02-02 00:32:00+00,2015-02-02 00:22:00+00
23,6465,NaN,NaN,1,1970.0,16539,448,508,319,Subscriber,W 37 St & 10 Ave,W 46 St & 11 Ave,-73.997901,40.756604,-73.996674,40.763414,2015-02-02 00:29:00+00,2015-02-02 00:23:00+00
24,6466,NaN,NaN,1,1961.0,18737,301,428,154,Subscriber,E 2 St & Avenue B,E 3 St & 1 Ave,-73.983688,40.722174,-73.987834,40.724677,2015-02-02 00:30:00+00,2015-02-02 00:27:00+00
25,6467,NaN,NaN,2,1980.0,17797,195,331,550,Subscriber,Liberty St & Broadway,Pike St & Monroe St,-74.010434,40.709056,-73.991930,40.711731,2015-02-02 00:37:00+00,2015-02-02 00:28:00+00
26,6468,NaN,NaN,1,1990.0,20638,478,529,268,Subscriber,11 Ave & W 41 St,W 42 St & 8 Ave,-73.998842,40.760301,-73.990985,40.757570,2015-02-02 00:34:00+00,2015-02-02 00:29:00+00
27,6469,NaN,NaN,1,1989.0,17636,366,421,153,Subscriber,Clinton Ave & Myrtle Ave,Clermont Ave & Park Ave,-73.968896,40.693261,-73.971297,40.695734,2015-02-02 00:31:00+00,2015-02-02 00:29:00+00
28,6470,NaN,NaN,1,1982.0,18472,494,284,309,Subscriber,W 26 St & 8 Ave,Greenwich Ave & 8 Ave,-73.997236,40.747348,-74.002638,40.739017,2015-02-02 00:36:00+00,2015-02-02 00:31:00+00
29,6471,NaN,NaN,1,1968.0,17456,252,383,138,Subscriber,MacDougal St & Washington Sq,Greenwich Ave & Charles St,-73.998522,40.732264,-74.000271,40.735238,2015-02-02 00:35:00+00,2015-02-02 00:33:00+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1429,7871,NaN,NaN,1,1985.0,20572,380,312,722,Subscriber,W 4 St & 7 Ave S,Allen St & E Houston St,-74.002939,40.734011,-73.989111,40.722055,2015-02-02 23:20:00+00,2015-02-02 23:08:00+00
1430,7872,NaN,NaN,1,1981.0,20338,491,486,274,Subscriber,E 24 St & Park Ave S,Broadway & W 29 St,-73.986022,40.740964,-73.988557,40.746201,2015-02-02 23:12:00+00,2015-02-02 23:08:00+00
1431,7873,NaN,NaN,1,1978.0,15826,515,352,951,Subscriber,W 43 St & 10 Ave,W 56 St & 6 Ave,-73.994618,40.760094,-73.977225,40.763406,2015-02-02 23:27:00+00,2015-02-02 23:11:00+00
1432,7874,NaN,NaN,1,1990.0,18325,521,489,276,Subscriber,8 Ave & W 31 St,10 Ave & W 28 St,-73.994811,40.750450,-74.001768,40.750664,2015-02-02 23:20:00+00,2015-02-02 23:16:00+00
1433,7875,NaN,NaN,1,1977.0,16654,434,494,426,Subscriber,9 Ave & W 18 St,W 26 St & 8 Ave,-74.003664,40.743174,-73.997236,40.747348,2015-02-02 23:24:00+00,2015-02-02 23:17:00+00
1434,7876,NaN,NaN,1,1966.0,20902,229,402,578,Subscriber,Great Jones St,Broadway & E 22 St,-73.993790,40.727434,-73.989551,40.740343,2015-02-02 23:28:00+00,2015-02-02 23:19:00+00
1435,7877,NaN,NaN,1,1954.0,20796,2017,164,2621,Subscriber,E 43 St & 2 Ave,E 47 St & 2 Ave,-73.971214,40.750224,-73.970325,40.753231,2015-02-03 00:06:00+00,2015-02-02 23:22:00+00
1436,7878,NaN,NaN,1,1989.0,20160,449,498,621,Subscriber,W 52 St & 9 Ave,Broadway & W 32 St,-73.987895,40.764618,-73.988084,40.748549,2015-02-02 23:32:00+00,2015-02-02 23:22:00+00
1437,7879,NaN,NaN,1,1974.0,17392,477,521,323,Subscriber,W 41 St & 8 Ave,8 Ave & W 31 St,-73.990026,40.756405,-73.994811,40.750450,2015-02-02 23:29:00+00,2015-02-02 23:23:00+00
1438,7880,NaN,NaN,1,1963.0,17263,482,434,393,Subscriber,W 15 St & 7 Ave,9 Ave & W 18 St,-73.999318,40.739355,-74.003664,40.743174,2015-02-02 23:31:00+00,2015-02-02 23:24:00+00
1439,7881,NaN,NaN,1,1955.0,19858,497,161,597,Subscriber,E 17 St & Broadway,LaGuardia Pl & W 3 St,-73.990093,40.737050,-73.998102,40.729170,2015-02-02 23:35:00+00,2015-02-02 23:25:00+00
1440,7882,NaN,NaN,1,1979.0,20319,462,494,244,Subscriber,W 22 St & 10 Ave,W 26 St & 8 Ave,-74.004519,40.746920,-73.997236,40.747348,2015-02-02 23:30:00+00,2015-02-02 23:25:00+00
1441,7883,NaN,NaN,1,1977.0,21600,127,306,1023,Subscriber,Barrow St & Hudson St,Cliff St & Fulton St,-74.006744,40.731724,-74.005301,40.708235,2015-02-02 23:43:00+00,2015-02-02 23:26:00+00
1442,7884,NaN,NaN,1,1986.0,18791,473,349,419,Subscriber,Rivington St & Chrystie St,Rivington St & Ridge St,-73.991925,40.721101,-73.983299,40.718502,2015-02-02 23:38:00+00,2015-02-02 23:31:00+00
1443,7885,NaN,NaN,1,1966.0,17730,358,450,1429,Subscriber,Christopher St & Greenwich St,W 49 St & 8 Ave,-74.007114,40.732916,-73.987882,40.762272,2015-02-02 23:55:00+00,2015-02-02 23:32:00+00
1444,7886,NaN,NaN,1,1980.0,18147,477,519,676,Subscriber,W 41 St & 8 Ave,Pershing Square North,-73.990026,40.756405,-73.977706,40.751873,2015-02-02 23:44:00+00,2015-02-02 23:32:00+00
1445,7887,NaN,NaN,1,1959.0,20249,489,546,879,Subscriber,10 Ave & W 28 St,E 30 St & Park Ave S,-74.001768,40.750664,-73.983035,40.744449,2015-02-02 23:48:00+00,2015-02-02 23:33:00+00
1446,7888,NaN,NaN,1,1988.0,18078,432,336,593,Subscriber,E 7 St & Avenue A,Sullivan St & Washington Sq,-73.983799,40.726218,-73.999061,40.730477,2015-02-02 23:45:00+00,2015-02-02 23:35:00+00
1447,7889,NaN,NaN,1,1983.0,16808,164,529,839,Subscriber,E 47 St & 2 Ave,W 42 St & 8 Ave,-73.970325,40.753231,-73.990985,40.757570,2015-02-02 23:50:00+00,2015-02-02 23:36:00+00
1448,7890,NaN,NaN,1,1986.0,21355,368,402,560,Subscriber,Carmine St & 6 Ave,Broadway & E 22 St,-74.002150,40.730386,-73.989551,40.740343,2015-02-02 23:46:00+00,2015-02-02 23:37:00+00
1449,7891,NaN,NaN,1,1994.0,15359,511,504,165,Subscriber,E 14 St & Avenue B,1 Ave & E 15 St,-73.977724,40.729387,-73.981656,40.732219,2015-02-02 23:40:00+00,2015-02-02 23:37:00+00
1450,7892,NaN,NaN,2,1982.0,18250,489,505,813,Subscriber,10 Ave & W 28 St,6 Ave & W 33 St,-74.001768,40.750664,-73.988484,40.749013,2015-02-02 23:56:00+00,2015-02-02 23:42:00+00
1451,7893,NaN,NaN,1,1987.0,16969,507,509,764,Subscriber,E 25 St & 2 Ave,9 Ave & W 22 St,-73.979738,40.739126,-74.001971,40.745497,2015-02-02 23:55:00+00,2015-02-02 23:42:00+00
1452,7894,NaN,NaN,1,1979.0,18825,397,496,2111,Subscriber,Fulton St & Clermont Ave,E 16 St & 5 Ave,-73.969223,40.684157,-73.992390,40.737262,2015-02-03 00:18:00+00,2015-02-02 23:43:00+00
1453,7895,NaN,NaN,1,1983.0,19000,439,280,518,Subscriber,E 4 St & 2 Ave,E 10 St & 5 Ave,-73.989780,40.726281,-73.995101,40.733320,2015-02-02 23:52:00+00,2015-02-02 23:43:00+00
1454,7896,NaN,NaN,1,1977.0,20723,440,484,371,Subscriber,E 45 St & 3 Ave,W 44 St & 5 Ave,-73.972826,40.752554,-73.980144,40.755003,2015-02-02 23:52:00+00,2015-02-02 23:45:00+00
1455,7897,NaN,NaN,1,1988.0,16528,417,224,188,Subscriber,Barclay St & Church St,Spruce St & Nassau St,-74.010202,40.712912,-74.005524,40.711464,2015-02-02 23:50:00+00,2015-02-02 23:47:00+00
1456,7898,NaN,NaN,1,1988.0,16541,394,345,689,Subscriber,E 9 St & Avenue C,W 13 St & 6 Ave,-73.977688,40.725213,-73.997044,40.736494,2015-02-03 00:02:00+00,2015-02-02 23:50:00+00
1457,7899,NaN,NaN,1,1961.0,14878,537,453,634,Subscriber,Lexington Ave & E 24 St,W 22 St & 8 Ave,-73.984092,40.740259,-73.999154,40.744751,2015-02-03 00:05:00+00,2015-02-02 23:55:00+00
1458,7900,NaN,NaN,2,1976.0,16326,302,285,733,Subscriber,Avenue D & E 3 St,Broadway & E 14 St,-73.977932,40.720828,-73.990741,40.734546,2015-02-03 00:10:00+00,2015-02-02 23:58:00+00

In [14]:
#task 2: avg trip duration for weekends
task_2_2 = '''
SELECT avg(citibike.tripduration)
from citibike
where extract(dow from citibike.starttime)>=5
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task_2_2)), sep=',')

          avg  Unnamed: 1
0  658.922681         NaN

In [15]:
#task 2: avg trip duration for weekdays
task_2_3 = '''
SELECT avg(citibike.tripduration)
from citibike
where extract(dow from citibike.starttime)<5
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task_2_3)), sep=',')

          avg  Unnamed: 1
0  684.308545         NaN

In [16]:
#task 3: showing distinct start stations using 'group by' function
task_3_1 = '''
SELECT distinct start_station_id, start_station_latitude, start_station_longitude
FROM citibike
group by start_station_id, start_station_latitude, start_station_longitude
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task_3_1)), sep=',')

     start_station_id  start_station_latitude  start_station_longitude
0                 438               40.727791               -73.985649
1                 342               40.717400               -73.980166
2                 242               40.697883               -73.973503
3                 161               40.729170               -73.998102
4                 373               40.693317               -73.953820
5                 168               40.739713               -73.994564
6                 502               40.714215               -73.981346
7                 421               40.695734               -73.971297
8                 511               40.729387               -73.977724
9                 422               40.770513               -73.988038
10                150               40.720874               -73.980858
11                346               40.736529               -74.006180
12                336               40.730477               -73.999061
13                447               40.763707               -73.985162
14                224               40.711464               -74.005524
15                456               40.759711               -73.974023
16                233               40.692463               -73.989639
17                391               40.697601               -73.993446
18                329               40.720434               -74.010206
19                403               40.725029               -73.990697
20                497               40.737050               -73.990093
21                473               40.721101               -73.991925
22               2005               40.705312               -73.971001
23                238               40.736197               -74.008592
24                315               40.703554               -74.006702
25                312               40.722055               -73.989111
26                368               40.730386               -74.002150
27                496               40.737262               -73.992390
28                195               40.709056               -74.010434
29                454               40.754557               -73.965930
..                ...                     ...                      ...
297               366               40.693261               -73.968896
298               433               40.729554               -73.980572
299               348               40.724910               -74.001547
300               475               40.735243               -73.987586
301               404               40.740583               -74.005509
302               212               40.743349               -74.006818
303               261               40.694749               -73.983625
304               530               40.771522               -73.990541
305               152               40.714740               -74.009106
306               393               40.722992               -73.979955
307               257               40.719392               -74.002472
308               279               40.707873               -74.001670
309               344               40.685144               -73.953809
310               449               40.764618               -73.987895
311               358               40.732916               -74.007114
312               464               40.759345               -73.967597
313               390               40.692216               -73.984284
314               458               40.751396               -74.005226
315               345               40.736494               -73.997044
316               431               40.688646               -73.982634
317               250               40.724561               -73.995653
318               453               40.744751               -73.999154
319               265               40.722293               -73.991475
320               271               40.685282               -73.978058
321               351               40.705310               -74.006126
322               267               40.750977               -73.987654
323               335               40.729039               -73.994046
324               485               40.750380               -73.983390
325               470               40.743453               -74.000040
326               349               40.718502               -73.983299

[327 rows x 3 columns]

In [17]:
#task 3: showing count of trips started per station within 500m of times square
task_3_2 = '''
SELECT DISTINCT start_station_id,start_station_latitude, start_station_longitude, count(starttime)
from citibike
WHERE ST_DWithin(CDB_latLng(start_station_latitude,start_station_longitude)::geography,

                 CDB_LatLng(40.7577, -73.9857)::geography,

                 500)
GROUP BY start_station_id,start_station_latitude, start_station_longitude

'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task_3_2)), sep=',')

   start_station_id  start_station_latitude  start_station_longitude  count
0               477               40.756405               -73.990026    507
1               173               40.760647               -73.984427    213
2               524               40.755273               -73.983169    112
3              2021               40.759291               -73.988597    141
4               493               40.756800               -73.982912    141
5               529               40.757570               -73.990985    221
6               465               40.755136               -73.986580    251

In [18]:
#task 4: id station with longest avg trip duration
task_4_1 = '''
Select max(avg_trp)
FROM 
(SELECT DISTINCT start_station_id,start_station_latitude, start_station_longitude, avg(tripduration) as avg_trp
from citibike
WHERE ST_DWithin(CDB_latLng(start_station_latitude,start_station_longitude)::geography,

                 CDB_LatLng(40.7577, -73.9857)::geography,

                 500)
GROUP BY start_station_id,start_station_latitude, start_station_longitude) as subquery
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task_4_1)), sep=',')

          max  Unnamed: 1
0  738.815603         NaN

In [19]:
#task 4: create lines for trips
task_4_2 = '''
SELECT ST_Makeline(
	CDB_TransformToWebmercator(
  		CDB_LatLng(start_station_latitude,
                  start_station_longitude)),
	CDB_TransformToWebmercator(
  		CDB_LatLng(end_station_latitude,
                  end_station_longitude))
	) as the_geom_webmercator, MIN(cartodb_id) as cartodb_id , 
    	avg(tripduration) as ta, count(starttime) as tripcount  
  FROM citibike  
WHERE ST_DWithin(CDB_latLng(start_station_latitude,start_station_longitude)::geography,
                 CDB_LatLng(40.7577, -73.9857)::geography,
                 500) and tripduration < 7200
group by start_station_id, start_station_latitude, start_station_longitude,
 			end_station_id, end_station_latitude, end_station_longitude
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task_4_2)), sep=',')

,the_geom_webmercator,cartodb_id,ta,tripcount
0,0102000020110F00000200000020D6742CE16A5FC112F4...,18466,693.000000,2
1,0102000020110F000002000000F55695027D6B5FC186E5...,2226,895.500000,2
2,0102000020110F00000200000004AF971C1D6B5FC17A48...,15621,414.500000,2
3,0102000020110F0000020000009BB87D02B76A5FC146C1...,34734,700.000000,1
4,0102000020110F000002000000F22A632FBE6A5FC1363A...,37006,1086.000000,1
5,0102000020110F00000200000004AF971C1D6B5FC17A48...,6007,444.000000,3
6,0102000020110F000002000000F22A632FBE6A5FC1363A...,20272,365.250000,4
7,0102000020110F0000020000001607D538556B5FC119A6...,11540,899.333333,3
8,0102000020110F0000020000009BB87D02B76A5FC146C1...,13614,457.666667,3
9,0102000020110F000002000000F55695027D6B5FC186E5...,39800,1362.000000,1
10,0102000020110F00000200000004AF971C1D6B5FC17A48...,29033,2217.000000,1
11,0102000020110F00000200000020D6742CE16A5FC112F4...,45442,1251.000000,1
12,0102000020110F0000020000009BB87D02B76A5FC146C1...,14181,921.000000,2
13,0102000020110F0000020000001607D538556B5FC119A6...,959,243.500000,4
14,0102000020110F0000020000003F9300B2976B5FC1B8B8...,7889,743.000000,2
15,0102000020110F0000020000009BB87D02B76A5FC146C1...,7076,269.333333,12
16,0102000020110F0000020000001607D538556B5FC119A6...,33533,414.000000,1
17,0102000020110F00000200000004AF971C1D6B5FC17A48...,34712,658.000000,1
18,0102000020110F0000020000003F9300B2976B5FC1B8B8...,13230,816.600000,5
19,0102000020110F000002000000F55695027D6B5FC186E5...,4507,837.500000,2
20,0102000020110F000002000000F55695027D6B5FC186E5...,13031,449.290323,31
21,0102000020110F000002000000F22A632FBE6A5FC1363A...,17712,339.000000,1
22,0102000020110F0000020000009BB87D02B76A5FC146C1...,34501,465.000000,1
23,0102000020110F000002000000F55695027D6B5FC186E5...,9844,213.500000,2
24,0102000020110F000002000000F55695027D6B5FC186E5...,356,290.200000,5
25,0102000020110F00000200000004AF971C1D6B5FC17A48...,10223,525.200000,5
26,0102000020110F000002000000F55695027D6B5FC186E5...,25199,340.000000,2
27,0102000020110F0000020000001607D538556B5FC119A6...,2536,327.500000,2
28,0102000020110F000002000000F55695027D6B5FC186E5...,37521,574.000000,1
29,0102000020110F000002000000F55695027D6B5FC186E5...,19530,441.750000,4
...,...,...,...,...
542,0102000020110F0000020000003F9300B2976B5FC1B8B8...,22083,690.000000,3
543,0102000020110F00000200000020D6742CE16A5FC112F4...,34099,466.000000,2
544,0102000020110F00000200000020D6742CE16A5FC112F4...,7354,984.000000,1
545,0102000020110F0000020000009BB87D02B76A5FC146C1...,16753,361.750000,4
546,0102000020110F00000200000020D6742CE16A5FC112F4...,21315,1823.000000,1
547,0102000020110F000002000000F22A632FBE6A5FC1363A...,38470,434.000000,1
548,0102000020110F000002000000F55695027D6B5FC186E5...,30699,1535.000000,1
549,0102000020110F00000200000004AF971C1D6B5FC17A48...,12092,730.000000,3
550,0102000020110F0000020000009BB87D02B76A5FC146C1...,12625,760.000000,1
551,0102000020110F0000020000001607D538556B5FC119A6...,22819,824.000000,1
552,0102000020110F00000200000004AF971C1D6B5FC17A48...,8767,726.333333,3
553,0102000020110F0000020000009BB87D02B76A5FC146C1...,14978,229.000000,3
554,0102000020110F00000200000004AF971C1D6B5FC17A48...,7686,913.000000,6
555,0102000020110F0000020000003F9300B2976B5FC1B8B8...,6699,308.000000,1
556,0102000020110F000002000000F55695027D6B5FC186E5...,17638,1153.000000,1
557,0102000020110F000002000000F22A632FBE6A5FC1363A...,28510,625.500000,2
558,0102000020110F0000020000009BB87D02B76A5FC146C1...,17023,2551.000000,1
559,0102000020110F0000020000009BB87D02B76A5FC146C1...,3105,1249.666667,6
560,0102000020110F00000200000020D6742CE16A5FC112F4...,13485,697.250000,4
561,0102000020110F000002000000F55695027D6B5FC186E5...,13694,2301.000000,3
562,0102000020110F000002000000F55695027D6B5FC186E5...,2329,316.625000,8
563,0102000020110F0000020000003F9300B2976B5FC1B8B8...,5582,892.500000,2
564,0102000020110F000002000000F55695027D6B5FC186E5...,12873,622.000000,3
565,0102000020110F000002000000F22A632FBE6A5FC1363A...,17983,869.000000,2
566,0102000020110F0000020000001607D538556B5FC119A6...,22345,459.000000,1
567,0102000020110F00000200000020D6742CE16A5FC112F4...,27219,443.500000,2
568,0102000020110F0000020000001607D538556B5FC119A6...,7341,423.500000,10
569,0102000020110F0000020000003F9300B2976B5FC1B8B8...,8971,357.000000,1
570,0102000020110F000002000000F22A632FBE6A5FC1363A...,36545,252.000000,1
571,0102000020110F00000200000004AF971C1D6B5FC17A48...,18854,966.000000,1

In [20]:
#was not able to find time to get to the extra credit to make this code/assignment compatible for the python3 kernel